/* InvoiceList.css */

.invoice-list-container {
    padding: 20px;
    background-color: white;
    color: #333; 
}

.invoice-list-title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 16px;
}

.invoice-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.invoice-list-table th, .invoice-list-table td {
    border: 1px ridge #ccc;
    padding: 10px;
    text-align: center;
}

.invoice-list-table th {
    background-color: #007BFF;
    color: white;
}

.container-btn {
    display: flex;
}

.view-bill-btn {
    display: flex;
    background-color: #007BFF;
    color: white;
    margin-right: 8px;
}

.edit-bill-btn {
    display: flex;
    background-color: #f700ff;
    color: white;
}

.invoice-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
